In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lebu,-37.6167,-73.6500,47.62,85,58,4.61,CL,2022-09-13 02:48:21
1,1,Tazovskiy,67.4667,78.7000,35.96,98,100,5.97,RU,2022-09-13 02:48:22
2,2,Albany,42.6001,-73.9662,69.67,93,100,1.63,US,2022-09-13 02:44:07
3,3,Athabasca,54.7169,-113.2854,54.01,37,50,7.76,CA,2022-09-13 02:45:26
4,4,Hobart,-42.8794,147.3294,52.27,57,40,8.05,AU,2022-09-13 02:48:22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 82

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Coahuayana,18.7333,-103.6833,76.42,96,100,2.17,MX,2022-09-13 02:48:23
24,24,Avarua,-21.2078,-159.7750,77.05,73,40,10.36,CK,2022-09-13 02:48:29
25,25,Rikitea,-23.1203,-134.9692,73.20,69,64,3.24,PF,2022-09-13 02:48:29
36,36,Hami,42.8000,93.4500,73.87,28,100,8.12,CN,2022-09-13 02:48:33
38,38,Kilindoni,-7.9139,39.6668,74.73,78,27,12.03,TZ,2022-09-13 02:48:34
39,39,Hun,29.1268,15.9477,77.83,49,0,1.88,LY,2022-09-13 02:48:34
41,41,Sao Filipe,14.8961,-24.4956,78.76,82,74,11.68,CV,2022-09-13 02:48:35
49,49,Champerico,14.3000,-91.9167,79.68,82,100,3.65,GT,2022-09-13 02:49:38
50,50,Haysville,37.5645,-97.3523,75.52,48,0,6.91,US,2022-09-13 02:49:38
61,61,Ponta Do Sol,32.6667,-17.1000,72.72,82,96,9.10,PT,2022-09-13 02:49:42

In [12]:
# Checking for any null values
preferred_cities_df.count()

City_ID       145
City          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
Country       145
Date          145
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6     Coahuayana      MX     76.42  18.7333 -103.6833
24        Avarua      CK     77.05 -21.2078 -159.7750
25       Rikitea      PF     73.20 -23.1203 -134.9692
36          Hami      CN     73.87  42.8000   93.4500
38     Kilindoni      TZ     74.73  -7.9139   39.6668
39           Hun      LY     77.83  29.1268   15.9477
41    Sao Filipe      CV     78.76  14.8961  -24.4956
49    Champerico      GT     79.68  14.3000  -91.9167
50     Haysville      US     75.52  37.5645  -97.3523
61  Ponta Do Sol      PT     72.72  32.6667  -17.1000

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Coahuayana,MX,76.42,18.7333,-103.6833,El rranchito michuacan de ocampos
24,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
25,Rikitea,PF,73.20,-23.1203,-134.9692,People ThankYou
36,Hami,CN,73.87,42.8000,93.4500,Laoyutang Resort
38,Kilindoni,TZ,74.73,-7.9139,39.6668,Bustani B&B
39,Hun,LY,77.83,29.1268,15.9477,Alrwasi Hotel
41,Sao Filipe,CV,78.76,14.8961,-24.4956,Hotel Xaguate
49,Champerico,GT,79.68,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
50,Haysville,US,75.52,37.5645,-97.3523,HAYSVILLE EXPRESS INN
61,Ponta Do Sol,PT,72.72,32.6667,-17.1000,Hotel do Campo

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))